<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="main-title">File Uploader</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>File Uploader</h1>
    <div class="info">
      Welcome to the File Uploader!
      This application is simialr to Google drive. You can upload files you want! 
      You can also create folders to add your files into!
    </div>
    <nav>
      <a class="home-btns" href="/">Home</a>
      <a class="home-btns" href="/upload">Upload File</a>
      <a class="home-btns" href="/folders">Folders</a>
    </nav>
  </header>
  <main>
  </main>
</body>
<!-- <footer>
  <p>&copy; 2025 File Uploader</p>
</footer> -->
</html>
